
<footer class="app-footer">
        <a  href="https://github.com/nhattran2311"><span class="fa fa-github fa-1x nav-item nav-link" ></span></a>
        <a href="https://www.linkedin.com/in/nhattran231/"><span class="fa fa-linkedin fa-1x nav-item nav-link"></span></a>
        <a href="https://www.youtube.com/channel/UCXa0y4DXNIsSWejBIdZQa1Q"><span class="fa fa-youtube-play fa-1x nav-item nav-link"></span></a>
        <span class="ml-auto">VERSION : {{ VERSION }} © 2020 NHAT TRAN</span>
</footer>

