<div class="sidebar">
    <nav class="sidebar-nav">
       <ul class="nav">
          <li class="nav-title text-center">
             <span>S1MPLE IS GOOD</span>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/dashboard/"><i class="fa fa-line-chart"></i> Dashboard</a>
          </li>



          <li class="nav-item nav-dropdown">
             <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-users"></i> Sharing</a>
             <ul class="nav-dropdown-items">
                <li class="nav-item">
                   <a class="nav-link" href="/article/"><i class="fa fa-archive"></i> Newest</a>
                </li>
             </ul>
             <ul class="nav-dropdown-items">
               <li class="nav-item">
                  <a class="nav-link" href="/#/"><i class="fa fa-book"></i> Series</a>
               </li>
            </ul>
            <ul class="nav-dropdown-items">
               <li class="nav-item">
                  <a class="nav-link" href="/#/"><i class="fa fa-code"></i> Snippets</a>
               </li>
            </ul>
          </li>



         <li class="nav-item nav-dropdown ">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-filter"></i> CrawData Viblo</a>
            <ul class="nav-dropdown-items">
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'craw_data_viblo' %}"><i class="fa fa-download"> </i> Craw With BeautifulSoup</a>
               </li>
            </ul>
         </li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-tree"></i> Model ThreeJS</a>
            <ul class="nav-dropdown-items">
               <li class="nav-item">
                  <a class="nav-link" href="/model_canvas/"><i class="fa fa-circle"></i> Canvas</a>
               </li>
            </ul>
            <ul class="nav-dropdown-items">
               <li class="nav-item">
                  <a class="nav-link" href="/model_periodic/"><i class="fa fa-history"></i> Periodic</a>
               </li>
            </ul>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/#"><i class="fa fa-search"></i> Search</a>
         </li>
       </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
 </div>